<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.biruk.androidclientchat">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".MessagesActivity"></activity>
        <activity
            android:name=".app.Login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".RetrofitActivity"
            android:label="Retfofit" />
        <activity
            android:name=".HomeActivity"
            android:label="Home" />
        <activity
            android:name=".DialogsListActivity"
            android:label="List" />
        <activity
            android:name=".app.Dialog.DialogListActivity"
            android:label="AddisGram">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
            <!-- <meta-data android:name="android.app.default_searchable" -->
            <!-- android:value=".SearchableActivity" /> -->

        </activity>
        <activity android:name=".Notification.TestActivity" />
        <activity
            android:name=".app.CreateGroup.CreateGroup"
            android:label="Create Group"
            android:parentActivityName=".app.Dialog.DialogListActivity"></activity>
        <activity android:name=".chips.AddMemberGroupActivity"
            android:label="Add Group Members"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>